@charset "utf-8";
body{
    background-color: rgba(0, 0, 0, 0.85);
}

h1{
    font-size: 100px;
    font-family:serif;
    color: white;
    margin: auto;
    text-align: center;
    font-style: italic;
}


.zentai{
    width: 10%;
    height: 15%;
    top: 10%;
    margin: 10%;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: rgba(47, 0, 255, 0.445);
    color: white;
    margin-top: 0px;
    font-family: serif;
}

nav{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    font-family: serif;
    margin: 30px;
    padding: 0px;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

nav a img{
    width: 322px;
    height: 350px;
    border-radius: 20px;
}
nav a.home img{
    width: 500px;
}

nav a .home .smork{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

*{
    margin: 0;
    padding: 0;
}
#check{
    display: none;
}

label{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 130px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
}

.h-line{
    content: "";
    width: 80px;
    height: 10px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    transition: all 0.5s;
}

.h-line:nth-child(1){
    top: 20px;
}

.h-line:nth-child(2){
    top: 45px;
}

.h-line:nth-child(3){
    top: 70px;
}

#check:checked ~ label .h-line:nth-child(1){
    top:40px;
    transform: rotate(45deg);
    transition: all 0.5s;
}

#check:checked ~ label .h-line:nth-child(2){
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
}

#check:checked ~ label .h-line:nth-child(3){
    top: 40px;
    transform: rotate(-45deg);
    transition: all 0.5s;
}

.h-contents {
    width:200px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.507);
    transition: all 0.5s;
    padding-top: 40px;
    padding-left: 30px;
    
}
.h-contents a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    font-family: serif;
}

.h-contents a:hover{
color: rgb(0, 183, 255);
text-decoration: none;
font-size: 30px;
font-weight: 800;

}

#check:checked ~ .h-contents {
    left: 0;
}

.h-contents .item{
    display: block;
    margin: 5px auto;
    margin-top: 70px;
    font-size: 2rem;
    font-family: serif;
    color: rgba(255, 255, 255, 1);
}

.kard{
    position: relative;
}

.smork{
    position: absolute;                                                                                               
    width: 100%;
    height: 94%;
    top: 0;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    align-content: center;
}
.smork:hover{
    opacity: 0;
}

.smork2{
    position: absolute;
    width: 100%;
    height: 94%;
    top: 0;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    align-content: center;
}

.smork2:hover{
    opacity: 0;
}

.kard a{
    font-size:60px ;
    color:white;
}

.kard a.home{
    font-size: 80px;
}
