@charset "utf-8";
/*全体*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 1440px;
    margin: auto;
   
    color: rgba(167, 105, 13, 0.788);
    background-image: url(../img/Ko.Elizabeth.600.1368558.jpg);

}
.rgba{
    background-color: rgba(255, 255, 255, 0.7);
}
header{
    background-color: rgba(0, 255, 255, 0.418);
    background-image: url(../img/yorozuyateratyan.png);
    width: 1200px;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin: 0px 113px 1px;
}


/*見出し*/
#midasi{
    text-align: center;
    width: 100%;
    height: 200px;
    margin-top: 80px;
   
}
nav{
    background-image: url(../img/eri.png);
    background-image: url(../img/eri\ 2.png);
    background-image: url(../img/eri\ 3.png);
    background-image: url(../img/eri\ 4.png);
    background-image: url(../img/eri\ 5.png);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    

    
}
.nav{
    margin: -187px 27px;
    width: 186px;
}

.image-box{
    width: 300px;
    height: 600px;
    background-image: url('../img/sukizu.jpg');
    background-size: cover;
    background-position: center;

}

img{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.back-to-top{
    width: 200px;
    position: fixed;
    right: 0;
    bottom: 40px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;

}

h1{
    margin-right: -36px;
    font-size: 48px;
}

h2{
    font-size: 30px;
}

h3{
    margin-left: 40%;
    font-size: 350%;
}

h4{
    font-size: 30px;
}

p{
    padding: 15px;
    margin-right: 0px;
    font-size: 20px;
    
}
body{
    position: relative;
}

.sukizu-img{
    width: 50%;
}

.niz-img{
    width: 50%;
}

.eri-img{
    width: 23%;
}

.eri2-img{
    width: 23%;
}

.eri3-img{
    width: 23%;
}

.box{
    border: 3px;
}

.nav:hover{
    background-color: rgba(103, 101, 105, 0.514);
}

.back-to-top:hover{
    background-color: rgba(0, 0, 255, 0.473);
}

  