@charset "UTF-8";

body{
    background-image: url("him.png");
    background-repeat: no-repeat-y;
    background-position: bottom;
    background-color:blueviolet;
    background-size: contain;
    z-index: 1;

}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    font-size: 25px;
    color: black;
}
li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
    color: black;
    width: 100%;
    margin: 0%;
    background-color: rgb(255, 121, 203);
    border: solid 5px;
}
li:hover{
    background-color: rgb(230, 43, 255);
}
h1{
    text-align: center;
    background-color:rgb(241, 110, 235);
    height :50px;
    
}
body{
    background-color:aqua;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}




