@charset "UTF-8";
body{
    font-size:20px;
    
}

.container{
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

body{
    background-image: url("ra-.png");
    background-repeat: no-repeat-y;
    background-position: bottom;
    background-color:rgb(158, 156, 160);
    background-size: contain;
    z-index: 1;
    background-size:1750px;
    z-index: -1;
}

a{
    text-decoration:none;
    color: rgb(255, 152, 207);
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}
li{
    background-color: black;
    width: 15%;
    text-align: center;
}