@charset "UTF-8";

body{
    
    background-image: url("yag.png");
    background-repeat: no-repeat-y;
    background-position: right;
    background-color:rgb(238, 147, 223);
    background-size:120%;
    z-index: 1;
    font-size :30px;
    
}
h1{
    text-align: center;
    height :50px;
    font-size : 100px;
    
    
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}
a{
    text-decoration:none;
    color: rgb(255, 152, 207);
}
li{
    background-color: black;
    width: 18%;
    text-align: center;
}

