@charset "UTF-8";

/*全体（コンテナー）*/
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: auto;
    border-left: solid 1px;
    border-right: solid 1px;
    font-family: serif;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

.sakura{
    position: fixed;
    z-index: -1;
    background-image: url(../IMG/AIsakura.webp);
    width: 700px;
    height: 700px;
}
/*ヘッダー*/
header{
    width: 100%;
    height: 95px;
    border-bottom: solid 3px;
    box-shadow: 0 5px rgb(180, 180, 180);
    text-align: center;
}

header>h1{
    font-size: 45px;
    line-height: 51px;
}
header>p{
    text-align: end;
    font-size: 20px;
    line-height: 0px;
    margin-right: 15px;
}

/*ナビゲーションバー*/
ul{
    width: 100%;
    height: 45px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-bottom: solid 3px;
    box-shadow: 0 3px rgb(180, 180, 180);
    text-shadow: 0 3px rgb(180, 180, 180);
}
li{
    line-height: 13px;
}

/*aタグ*/
a.menu{
    line-height: 42px;
    text-decoration: none;
    color: black;
}
a.a{
    text-decoration: none;
    color: black;
    border: solid 2px black;
    border-radius: 8%;
    margin: 20px 2%;
    transition: 0.3s;
    background-color: white;
}
a.a:hover{
    transition: 0.3s;
    margin: 15px 2% 25px;
    box-shadow: 0 10px rgb(170, 170, 170);
}
a.a:active{
    margin: 20px 2%;
    transition: 0.3s;
    box-shadow: none;
}

/*個人*/
.minna{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.yomi{
    text-align: center;
    font-size: 10px;
    margin: 10px auto 0;
}
.name{
    text-align: center;
    margin: 0 auto;
}
.kozin>img{
    background-color: rgb(83, 83, 83);
    width: 170px;
    height: 170px;
    margin: 0px 10px 10px;
}

.smark{
    margin: 0;
    background-color: rgba(255,255,255,0.5);
}